@import 'tailwindcss';

@theme inline {
  --color-primary: #049dd9;
  --color-primary-dark: #0388be;
  --color-secondary: #223f59;
  --color-secondary-dark: #1a3045;
}

@layer base {
  body {
    font-family:
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      sans-serif;
  }
}
